c:\Users\shagu\OneDrive\Desktop\womensafety\project\images c:\Users\shagu\OneDrive\Desktop\womensafety\project\index.html c:\Users\shagu\OneDrive\Desktop\womensafety\project\map.html c:\Users\shagu\OneDrive\Desktop\womensafety\project\style.css
R